.customButton{
    min-width:260px;
    color:black;
    border: solid;
    border-radius: 10px;
    background-color: white;
    border-width: 1px;
    height:40px;
    font-size: 20px;
    margin: 10px;
}