.Heading {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 50px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
}
.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.content {
  padding-top: 5vh;
  padding-left: 20vw;
  width: 40vw;
}

@media (max-width: 400px) {
  .Heading {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 30px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
